---
import BasicScene from '@/components/BasicScene.astro';
import Shaders from '@/components/Shaders.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Three.js Journey'>
    <div class='grid grid-cols-4 grid-flow-row'>
        <BasicScene />
        <Shaders />
    </div>
</Layout>
